body {
  color: white; /*Define a cor do texto como branco*/
  background: black;/*Define a cor de fundo como preto*/
  margin: 0px;
  font-family: "Chakra Petch" , sans-serif;
  margin-bottom: 100px
}
