body {
  color: white; /*Define a cor do texto como branco*/
  background: black;/*Define a cor de fundo como preto*/
  margin: 0px; /*espaço externo de um elemento.*/
  font-family: "Chakra Petch" , sans-serif; /*Define que o navegador deve usar a fonte "Chakra Petch" (se estiver disponível no sistema ou carregada via @font-face).*/
  margin-bottom: 100px; /*Adiciona um espaço de 100 pixels abaixo do elemento.
                        Não afeta o conteúdo interno, apenas o espaçamento externo.*/
}



/* === SEÇÃO "CHAMADA" (container principal) === */
.chamada {
    background: rgb(184, 156, 213); /* Cor de fundo roxa clara */
    padding-bottom: 80px; /* Espaço interno na parte de baixo (80px) */
    padding-top: 80px; /* Espaço interno no topo (80px) */
    display: flex; /* Ativa o layout Flexbox para alinhar itens */
    justify-content: center; /* Centraliza os itens horizontalmente */
}

/* === TEXTO DENTRO DA "CHAMADA" === */
.chamada-texto {
    margin-right: 5%; /* Margem à direita (5% da largura do container) */
}

/* === ESTILOS PARA TÍTULOS (h1) === */
h1 {
    font-size: 40px; /* Tamanho da fonte grande (40px) */
}

/* === ESTILOS PARA PARÁGRAFOS (p) === */
p {
    font-size: 20px; /* Tamanho da fonte médio (20px) */
}


.caegoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}
.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid green;
}
.catogoria h2 {
    color: rgb(42,122,228);
    
}